@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  overflow-x: hidden;
}

h1{
  font-weight: 400;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .search-input {
    width: 0;
    transition: width 0.5s ease, opacity 0.3s ease, padding 0.5s ease;
    border: none;
    background: transparent;
    color: white;
    outline: none;
  }
  

  .search-input.expanded {
    width: 200px;
    opacity: 1;
    
  }
  
}


